<!DOCTYPE html>
<html>
<head>
    <title><%= title1%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/main.css">

</head>
<%- include('layout/header') %>
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <% if (message) { %>
                <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><%= message.message %></strong>
                </div>
            <% } %>
            <div class="table-responsive">
                <% if (events.length > 0) { %>
                    <table class="table table-striped my-3">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Place</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% events.forEach((event) => { %>
                            <tr>
                                <td><%= event.name %></td>
                                <td><%= event.description %></td>
                                <td><%= event.date %></td>
                                <td><%= event.place %></td>
                                <td>
                                    <a href="/events/edit/<%= event._id %>" class="btn btn-success">
                                        <i class="fas fa-edit fa-lg mx-1"></i>Edit
                                    </a>
                                    <a href="/events/delete/<%= event._id %>" class="btn btn-danger">
                                        <i class="fas fa-trash fa-lg mx-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <h1 class="text-center text-secondary mt-5">No events in the database</h1>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="/events/add" class="btn btn-primary">Add New Event</a>
</div>
</div>
<div class="text-center mt-3">
    <a href="/home" class="btn btn-warning">Go to Home</a>
</div>